@import url(https://fonts.googleapis.com/css?family=Varela+Round);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);@charset "UTF-8";

body {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: "Ubuntu", sans-serif;
  color: #2d2d2d;
  background-color: #cccccc;
}

.page {
  background: white;
  display: block;
  margin: 0 auto 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.page[size=A4] {
  width: 21cm;
  height: 29.7cm;
}

@media print {
  body,
  .page {
    margin: 0;
    box-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.columns {
  display: flex;
}

.columns .col {
  padding: 0 4px;
  flex-shrink: 0;
  flex-basis: 50%;
}

.section {
  margin-bottom: 1rem;
}

.panel {
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}

.panel--green {
  background-color: #3cbcae;
  color: white;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header__photo {
  margin-bottom: 16px;
}

.header__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 4px;
}

.header__years {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.header__title {
  font-weight: 500;
  font-size: 24px;
}

.photo {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 100%;
}

.photo__image {
  width: 130%;
  height: auto;
  margin-top: -35px;
  margin-left: -30px;
}

.container {
  padding: 10px 15px;
}

.contacts {
  display: flex;
  justify-content: space-around;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.contacts__item {
  font-family: "Ubuntu", sans-serif;
  color: #2d2d2d;
  margin-bottom: 4px;
}

.contacts__link {
  text-decoration: none;
  color: #2d2d2d;
}

.contacts__icon {
  color: #3cbcae;
  margin-right: 4px;
}

.title {
  display: block;
  text-align: left;
  color: #3ec0b2;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 18px;
  min-height: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 6px;
}

.timeline {
  padding-left: 40px;
  position: relative;
}

.timeline__point {
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #3cbcae;
}

.timeline__line {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #3cbcae;
  left: 8px;
  top: 18px;
}

.experience {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.experience__title {
  font-size: 18px;
  min-height: 18px;
  line-height: 18px;
  margin-bottom: 4px;
  font-weight: 600;
}

.experience__subtitle {
  font-size: 18px;
  min-height: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 6px;
}

.experience__label {
  font-size: 16px;
  min-height: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: italic;
  color: #479099;
}

.skills {
  padding-left: 20px;
  list-style: none;
}

.skills__item {
  display: flex;
  font-size: 16px;
  min-height: 16px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.skills__item:before {
  content: "\2022";
  color: #479099;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

