$body-color: #2d2d2d;
$body-bg: rgb(204, 204, 204);
$green: #3cbcae;
$blue: #479099;

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: 'Ubuntu', sans-serif;
  color: $body-color;
  background-color: $body-bg;
}

.page {
  background: white;
  display: block;
  margin: 0 auto 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

  &[size="A4"] {
    width: 21cm;
    height: 29.7cm;
  }
}

@media print {
  body,
  .page {
    margin: 0;
    box-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.columns {
  display: flex;

  .col {
    padding: 0 4px;
    flex-shrink: 0;
    flex-basis: 50%;
  }
}

.section {
  margin-bottom: 1rem;
}

.panel {
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;

  &--green {
    background-color: $green;
    color: white;
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__photo {
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 4px;
  }

  &__years {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }
}


.photo {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 100%;

  &__image {
    // TODO: just clip photo
    width: 130%;
    height: auto;
    margin-top: -35px;
    margin-left: -30px;
  }
}

.container {
  padding: 10px 15px;
}

.contacts {
  display: flex;
  justify-content: space-around;
  padding: 0;
  text-align: center;
  list-style-type: none;

  &__item {
    font-family: 'Ubuntu', sans-serif;
    color: $body-color;
    margin-bottom: 4px;
  }

  &__link {
    text-decoration: none;
    color: $body-color;
  }

  &__icon {
    color: $green;
    margin-right: 4px;
  }
}

.title {
  display: block;
  text-align: left;
  color: #3ec0b2;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 18px;
  min-height: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 6px;
}

.timeline {
  padding-left: 40px;
  position: relative;

  &__point {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    border: 4px solid $green;
  }

  &__line {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: $green;
    left: 8px;
    top: 18px;
  }
}

.experience {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;

  &__title {
    font-size: 18px;
    min-height: 18px;
    line-height: 18px;
    margin-bottom: 4px;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 18px;
    min-height: 18px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__label {
    font-size: 16px;
    min-height: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
    color: $blue;
  }
}

.skills {
  padding-left: 20px;
  list-style: none;

  &__item {
    display: flex;
    font-size: 16px;
    min-height: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    &:before {
      content: "\2022";
      color: $blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
